@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.c-body {
    background: #EBEDEF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.c-subbody {
    font-family: 'Poppins', sans-serif;
}
.c-sidebar {
    background-color: #314351;
    font-family: 'Poppins', sans-serif;
  }
// .c-sidebar-nav-link::hover {
//     background-color: #314351;
//   }
.c-app {
    font-family: 'Poppins', sans-serif;
}
.breadcrumb-item.active {
    color: #8a93a2;
    font-family: 'Poppins', sans-serif;
}
.breadcrumb-item {
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.c-footer{
    background-color: white;
}
.c-sidebar-nav-link:hover{
    background-color: white;
}
.boxes { 
    box-shadow: 5px 5px 5px 5px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    padding: 10px;
    margin-bottom: 30px;
    margin-top : 10px;
  }
 .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color : #314351 !important;
      font-size : 12pt;
      font-weight: bold !important;
}
 .ant-tabs-ink-bar {
    height: 5px;
    background:  #425768 !important;
}
 .ant-tabs-tab-btn{
    font-size : 12pt;
}
.ant-drawer-body{
    background-color: none;
    font-family: 'Poppins', sans-serif;
}
.your__tracks .ant-table-thead{
    display: none!important;
}
.ant-modal-content{
    font-family: 'Poppins', sans-serif;
}
.ant-drawer {
    margin-top: 100px !important;
    font-family: 'Poppins', sans-serif;
}